html {
    background-color: gray;
}

#game-board {
    border: 1px solid #333;
    display: grid;
    background-color: aqua;
    width: 600px;
    height: 600px;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
}

.cell {
    background-color: #f4f4f4;
    border: 3px solid #333;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    font-size: 100px;
}
h1 {
    text-align: center;
    font-size: 80px;
}

h3 {
    text-align: center;
    font-size: 25px;
}